
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}
/*Tab links container*/
.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.tab-link {
  text-decoration: none;
  padding: 1rem 5rem;
  color: #333;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.tab-link.active {
  background-color: #333;
  color: #fff;
}

/*procuts container*/
.product-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  align-content: center;
}

.product-card {
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 370px;
  height: 600px;
  position: relative;
  background-color: #fff;
}

.product-card img {
  border-radius: 5px;
  object-fit:cover ;
  height: 400px;
  width: 100%;
}
.titleVendor{
  display: flex;
  gap: 1rem;
}
.product-card h3{
  font-size: 1rem;
  font-weight: 600;
}
.currPrice{
  font-weight: bold;
}
.originalPrice{
  color:rgb(189, 189, 189);
  text-decoration: line-through;
}
.discount{
  color: red;
  font-weight: bold;

}


.badge {
  position: absolute;
  border: 1px solid black;
  margin: 4px ;
  top: 10px;
  left: 10px;
  background-color: #f1f1f1;
  color: #000000;
  padding: 7px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.add-to-cart {
  background-color: #000000;
  width: 100%;
  color: #fff;
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 7px;
}
/*Responsive */

@media (max-width: 768px) {
  .heading {
    font-size: .8rem;
  }
  .tab-link {
    font-size: .7rem;
    padding: 1rem 2.5rem;
  }
 
  .product-card {
    width: 350px;

  }
  
  .product-card img {
    height: 400px;
  }

  
}
@media (max-width: 360px) {
  .heading {
    font-size: .6rem;
  }
  .tab-link {
    font-size: .5rem;
    padding: 1rem 2rem;
  }
 

  
}
